<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div>
      <h1><%= htmlWebpackPlugin.options.title %></h1>
      <h2><t-text>Some examples</t-text></h2>
      <ul>
        <li><t-text>An example with a <a href="https://www.google.com">link</a></t-text></li>
        <li><t-text>A text with a parameter named "user" with value "<t-param name="user">Some User</t-param>"</t-text></li>
      </ul>
      <div id="app-demo1">
    </div>
  </body>
</html>
